.vs/
CppProperties.json
UpgradeLog.htm
*.suo
*.user
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.opendb
Debug/
Release/
x64/
ComputacaoGrafica/Debug/
ComputacaoGrafica/Release/
ComputacaoGrafica/x64/
ComputacaoGrafica/ComputacaoGrafica/Debug/
ComputacaoGrafica/ComputacaoGrafica/Release/
ComputacaoGrafica/ComputacaoGrafica/x64/
ComputacaoGrafica/ComputacaoGrafica/vcpkg/
